<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huidisen.ep750">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity"
            android:launchMode="singleTask"></activity>

        <activity android:name=".activity.FlightInfoActivity"></activity>
        <activity
            android:name=".activity.TaskActivity"
            android:launchMode="singleTask">
        </activity>
        <activity android:name=".activity.TaskInfoDetailActivity"></activity>
        <activity android:name=".activity.FlightInfoDetailActivity" />
        <activity android:name=".activity.SearchFlightActivity" />
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.TaskPointActivity"></activity>
        <activity android:name=".activity.InputNumberActivity"></activity>
        <activity android:name=".activity.SortFlightShowActivity" />
        <activity android:name=".activity.SearchResultActivity" />
        <activity android:name=".activity.CheckCarActivity"></activity>
        <activity android:name=".activity.ApplyTaskActivity" />
        <activity android:name=".activity.SettingActivity"></activity>
        <activity android:name=".activity.ExplainActivity"></activity>

        <receiver android:name=".receiver.BootReceiver">
            <intent-filter>
                <!--<action android:name="android.intent.action.BOOT_COMPLETED" />-->
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>

        </receiver>
        <receiver android:name=".receiver.TaskChangeReceiver">
            <intent-filter>
                <action android:name="com.ep750.newTask" />
                <action android:name="com.ep750.taskNode_change" />
                <action android:name="com.ep750.cancelTask" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.AlarmReceiver" />

        <service android:name=".service.BackgroundLoadDataService" />
        <service android:name=".service.PollingDeviceService"></service>
        <service android:name=".service.WebSocketService"></service>
        <service android:name=".service.TaskChangeSevice"></service>
    </application>

</manifest>